


    <header>
        <nav>
            <ul class="navigation">
                <li><a href="/">Home Page</a></li>
                <li><a href="/cats/add-breed">Add Breed</a></li>
                <li><a href="/cats/add-cat">Add Cat</a></li>
            </ul>
        </nav>
        <h1>Cat Shelter</h1>
    </header>
    <main>
        <form action="/cats/edit/{{catData.id}}" method="POST" class="cat-form" enctype="multipart/form-data">
            <h2>Edit Cat</h2>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" value={{catData.name}}>
            <label for="description">Description</label>
            <textarea name="description" id="description">{{catData.description}}</textarea>
            <label for="image">{{catData.img}}</label>
            <input name="image" type="file" id="image">
            <label for="group">Breed</label>
            <select name="breed" id="group">
                <option value="Fluffy Cat">{{catData.breed}}</option>
                 {{#each breeds}}

                 {{> breed-option}}

                {{/each}}
            </select>
            <button type="submit">Edit Cat</button>
        </form>
    </main>
